
.container {
  max-width: 900px;
  margin: 50px auto;
  text-align: center;
}
h1 {
  font-size: 32px;
  margin-bottom: 20px;
}
.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.filter-select {
  padding: 0.7rem 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 20px;
  font-size: 15px; 
  width: 15rem;
}
.search-btn {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 1.8rem;
}
.search-btn:hover {
  background-color: #0056b3;
}
.placeholder {
  color: #c4c4c4;
}
.filter-container {
  margin-bottom: 10px; 
  font-size: 20px;
}
.filter-container label {
  display: block; 
  margin-bottom: 5px;
  text-align: left;
}
