
.appointment-form {
    max-width: 500px;
    margin: 0 auto;
    padding: 0 20px 20px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 120px;
}
.form-group {
    margin-bottom: 15px;
}
.form-group label {
    display: block;
    margin-bottom: 5px;
}
.form-group input[type="text"],
.form-group input[type="number"],
.form-group textarea,
.form-group select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
.form-group textarea {
    resize: vertical;
}
.submitButton {
    text-align: center;
}
.form-group button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 auto;
}
.form-group button:hover {
    background-color: #0056b3;
}
